# Copyright (c) 2026 Sonya Gadomska. All rights reserved.
# Phase 1 runs without credentials. These are reserved for Phase 2.
# Never prefix server secrets with NEXT_PUBLIC_.
OPENAI_API_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
